.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;

}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--darkergray);
}

.links, .english {
    text-decoration: none;
    color: var(--darkergray);
}